* {
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 700px;
}

.images-trailer-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 72px;
}
.trailer-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    grid-column: 2;
}

.trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}