* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-height: auto;
    width: 100%;
}

a {
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2929b5;
}

.container {
    max-width: 450px;
    margin: auto;
}

b {
    font-weight: 700;
}

em {
    font-style: italic;
}

.button {
    background-color: purple;
    border-radius: 10px;
    color: #fff;
    padding: 16px;
    letter-spacing: .5px;
    width: 300px;
    text-align: center;
    margin:8px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    position: sticky;
}

.search-bar {
    display: none;
}

.search-icon {
    height: 28px;
    width: 28px;
}


.basics {
    margin-bottom: 24px;
}

.basics h1 {
    font-size: 54px;
}

.basics h2 {
    font-size: 20px;
    font-weight: 300;
    display: inline;
}

.images-trailer-container {
    display: grid;
    grid-template-rows: 300px auto;
    grid-gap: 40px;

}

.poster {
    display: none;
}

.trailer-container {
    grid-row: 1;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.trailer-links {
    grid-row: 2;
    margin-top: -40px;
}

.trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.descrip-rankings-container {
    margin-bottom: 24px;
    font-size: 20px;
}

.headings {
    font-size: 32px;
    font-weight: 700;
    display: inline;
}

.fun-fact {
    background-color: #A8DFEB;
    border-radius: 10px;
    padding: 8px 16px;

}


.lists {
    padding-top: 20px;
    display: grid;
    grid-gap: 24px;
    padding-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    display: grid;
    grid-template-rows: minmax(154px, 300px) auto;
    border-radius: 10px;
    max-width: 312px;
}

.card-img {
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-rows: auto 30px 30px;
    color: white;
    border-radius: 10px 10px 0;
}

.card-img-gradient {
    content: "";
    position: absolute;
    display: block;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.125) 65.46%, rgba(0, 0, 0, 0.375) 77%, rgba(0, 0, 0, 0.44) 86.3%, rgba(0, 0, 0, 0.5) 100%);
    ;
    height: 100%;
    width: 100%;
}


.card-img h2,
.card-img h3 {
    z-index: 1;
    font-size: 20px;
    padding-left: 16px;

}

.card-img h2 {
    grid-row: 2;
    font-weight: 700;
}

.card-img h3 {
    grid-row: 3;
    font-weight: 400px;
}

.card-body {
    padding: 16px;
}

.card h4 {
    font-size: 14px;
    font-weight: 700;
}

.card li {
    font-size: 14px;
}


/*tablet*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .search-bar {
        display: inline-block;
        width: 50%;
    }

    .basics h1 {
        display: inline;
    }

    .poster {
        margin-top: 80px;
    }

    .lists {
        grid-template-columns: repeat(2, 312px);
        margin-left: 0;

    }



}

/*desktop*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .search-bar {
        width: 65%
    }


    .images-trailer-container {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto;
        grid-gap: 40px;
    }

    .trailer-container {
        grid-column: 2;
    }

    .trailer-links {
        grid-column: 2;
    }

    .poster {
        display: block;
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
    }

    .lists {
        margin-top: 0;
        grid-template-columns: repeat(3, 312px);
        margin-left: 0;
    }

}

@media (min-width: 1200px) {
    container {
        max-width: 1140px;
    }
}